.hp,
.attack,
.defense,
.resist,
.physicalLimit,
.magicalLimit,
.dps0,
.dps1,
.dps2,
.dps3,
.dps4,
.dps5 {
  width: 2.7rem;
}

.conditions,
.target {
  width: 2.8rem;
}

.rarity,
.cost {
  width: 1.4rem;
}

.attackSpeed,
.delay {
  width: 1.55rem;
}

.block {
  width: 1.8rem;
}

.interval {
  width: 2rem;
}

.unitId,
.situationId,
.element,
.range,
.moveSpeed,
.placement {
  width: 2rem;
}

.initialTime,
.duration,
.cooldown,
.damageType {
  width: 2.4rem;
}

.moveType {
  width: 3.2rem;
}

.species {
  width: 4.1rem;
}

.className {
  width: 4.9rem;
}

.unitShortName {
  width: 5.3rem;
}

.skillName,
.exSkill1,
.exSkill2 {
  width: 8.9rem;
}

.unitName {
  width: 12.2em;
}

.supplements {
  width: 10.16rem;
}
