body {
  /* Chromiumのスクロールバー対策 */
  margin-left: calc(100vw - 100%);
}

.md-content > h2:not(:first-child) {
  margin-top: 3rem;
}

.md-content > h3 {
  font-size: calc(1.275rem + 0.3vw);
  margin-top: 2rem;
}

@media (min-width: 1200px) {
  .md-content > h3 {
    font-size: 1.5rem;
  }
}

.md-content > h4 {
  font-size: 1.25rem;
  margin-top: 1rem;
}

.md-content > h2 {
  scroll-margin-top: calc(58px + 1rem);
}

.md-content > dl > dt {
  color: var(--bs-red);
}

[data-bs-theme="dark"] .md-content > dl > dt {
  color: var(--bs-yellow);
}

.md-content .text-require {
  color: var(--bs-red);
}

.md-toc nav ul {
  list-style: none;
  padding-left: 0;
}

.md-toc h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

.md-toc hr {
  margin: 0.25rem 0;
}
