body {
  overflow-y: scroll;
}

.nav-link {
  color: rgba(255, 255, 255, 0.85);
}

html[data-bs-theme="light"] .theme-light {
  display: inline !important;
}

html[data-bs-theme="dark"] .theme-dark {
  display: inline !important;
}

[data-bs-theme="dark"] .btn-outline-primary {
  color: var(--bs-body-color);
}

h1,
h2 {
  margin-bottom: 1.25rem;
}

.table-container {
  margin-bottom: 3rem;
}
