.disabled {
  user-select: none;
  pointer-events: none;
}

.button {
  width: 16.5rem;
  height: 4.7rem;
  font-size: 0.86rem;
  background-color: var(--bs-table-bg);
  color: var(--bs-table-color);
}

.button > [class~="card-header"] {
  padding: 0.125rem 0.5rem;
  background-color: var(--bs-table-bg);
  color: var(--bs-table-color);
}

.button > [class~="card-body"] {
  padding: 0.125rem 0.5rem;
}

.selector-modal {
  z-index: calc(var(--bs-modal-zindex) + 20);
}

.selector-backdrop {
  z-index: calc(var(--bs-backdrop-zindex) + 20);
}

.selector-dialog {
  max-width: 875px !important;
  width: 92vw;
}
