.text-bg-epic {
  color: #fff !important;
  background-color: var(--bs-indigo) !important;
}

.text-bg-rare {
  color: #fff !important;
  background-color: var(--bs-blue) !important;
}

.text-bg-common {
  color: #fff !important;
  background-color: var(--bs-gray) !important;
}

.element-badge {
  width: 1.8em;
}

.bg-e-water {
  --mix-percentage: 50%;
  background-color: color-mix(in srgb,
      var(--bs-blue) var(--mix-percentage),
      #000 calc(100% - var(--mix-percentage))) !important;
}

.bg-e-earth {
  --mix-percentage: 50%;
  background-color: color-mix(in srgb,
      var(--bs-orange) var(--mix-percentage),
      #000 calc(100% - var(--mix-percentage))) !important;
}

.bg-e-dark {
  background-color: var(--bs-indigo) !important;
}