.table {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 0;
}

.table > thead {
  position: sticky;
  top: 58px;
}

@media (max-width: 767.98px) {
  .table {
    display: block;
    width: auto;
    overflow: auto;
  }

  .table > thead {
    position: sticky;
    top: 0px;
  }
}

.table > :not(caption) > * > * {
  border-width: 0px 1px 1px 0px;
}

.table > :not(caption) > * > th {
  border-top-width: 1px;
  border-bottom-width: 2px;
}

.table > :not(caption) > * > *:first-child {
  border-left-width: 1px;
}

.table {
  font-size: 0.8125rem;
}

.table > :not(caption) > * > * {
  padding: 0.125rem;
}

@media (max-width: 992.98px) {
  .table > :not(caption) > * > * {
    padding: 0.05rem;
  }
}

.table-border-double > * {
  border-top: double var(--bs-dark) !important;
}

[data-bs-theme="dark"] .table-border-double > * {
  border-top: double var(--bs-light) !important;
}
