.table {
  display: block;
  width: auto;
  height: calc(97vh - 58px);
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 0;
}

.table > thead {
  position: sticky;
  top: 0px;
}

.table > :not(caption) > * > * {
  border-width: 0px 1px 1px 0px;
}

.table > :not(caption) > * > th {
  border-top-width: 1px;
  border-bottom-width: 2px;
}

.table > :not(caption) > * > *:first-child {
  border-left-width: 1px;
}

@media (min-width: 1024px) {
  .table {
    font-size: 0.845em;
  }
}

@media (max-width: 1023px) {
  .table {
    font-size: 0.72em;
  }

  .table > :not(caption) > * > * {
    padding: 0.05rem;
  }
}

.table-border-double > * {
  border-top: double var(--bs-dark) !important;
}

[data-bs-theme="dark"] .table-border-double > * {
  border-top: double var(--bs-light) !important;
}
