@keyframes loading {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(10px);
  }
}

.loading-indicator {
  pointer-events: none;
  position: fixed;
  left: calc(95vw - 100px);
  top: calc(95vh - 100px);
  z-index: 2000;
  transform: translate(-50%, -50%);
  transition: opacity 0.25s linear;
  opacity: 0;
}

[data-md-loading="show"]:not([data-md-panel="open"]) .loading-indicator {
  opacity: 1;
}

[data-md-panel="open"] .loading-indicator {
  left: calc(min(100vw, 1824px) - 100px);
}

@media (min-width: 1700px) {
  [data-md-loading="show"] .loading-indicator {
    opacity: 1;
  }
}

.loading-indicator > div {
  position: relative;
  animation: 1s ease-in alternate infinite loading;
}

.loading-indicator > div > .spinner-border {
  position: absolute;
  left: 137px;
  top: 52px;
  color: var(--bs-gray);
}
