.panel {
  max-height: calc(100vh - 58px);
  overflow-y: scroll;
  padding-bottom: calc(100vh - 100svh);
}

.panel-backdrop {
  z-index: 1015;
}

.panel-header > .nav-item {
  text-align: center;
  flex: auto;
}

@media (min-width: 768px) {
  .panel-header > .nav-item {
    flex-grow: 1;
    flex-basis: 0;
  }
}
