@media (max-width: 767.98px) {
  .panel-form-group > label {
    text-align: center;
  }
}

.btn.panel-btn {
  color: inherit;
}

.input-group-text.panel-number-btn {
  width: 2em;
  justify-content: center;
}

.rarity-badge.legend {
  color: #000;
  background-color: var(--bs-yellow);
}

.rarity-badge.epic {
  color: #fff;
  background-color: var(--bs-indigo);
}

.rarity-badge.rare {
  color: #fff;
  background-color: var(--bs-blue);
}

.rarity-badge.common {
  color: #fff;
  background-color: var(--bs-gray);
}

.element-badge .bi {
  display: inline-block;
  vertical-align: -0.15em;
}

.element-badge.fire {
  color: var(--bs-red);
}

.element-badge.water {
  color: var(--bs-blue);
}

.element-badge.earth {
  color: color-mix(in srgb, var(--bs-orange) 50%, #000);
}

.element-badge.wind {
  color: var(--bs-green);
}

.element-badge.light {
  color: var(--bs-yellow);
}

.element-badge.dark {
  color: var(--bs-indigo);
}
