.stat-tooltip-table {
  margin-bottom: 1rem;
}

.stat-tooltip-table > tbody > tr > th {
  color: var(--bs-yellow);
}

.stat-tooltip-table > tbody > tr > td::before {
  content: "：";
}

.text.result {
  color: var(--bs-yellow);
}

.text.positive {
  color: var(--bs-teal);
}

.text.negative {
  color: color-mix(in srgb, #fff 20%, var(--bs-red));
}

.text.info {
  color: var(--bs-cyan);
}

dl.stat-tooltip-dl dt {
  display: inline-block;
  color: var(--bs-yellow);
}

dl.stat-tooltip-dl dd {
  display: inline-block;
  margin-bottom: 0;
}

dl.stat-tooltip-dl dd:not(dd:empty)::before {
  content: "：";
}
