.text.fire {
  color: var(--bs-red);
}

.text.water {
  color: var(--bs-blue);
}

.text.wind {
  color: color-mix(in srgb, #fff 20%, var(--bs-green));
}

.text.earth {
  color: color-mix(in srgb, #000 25%, var(--bs-orange));
}

.text.light {
  color: color-mix(in srgb, #000 10%, var(--bs-yellow));
}

.text.dark {
  color: color-mix(in srgb, #fff 20%, var(--bs-indigo));
}

.text.legend {
  color: var(--bs-yellow);
}

.text.epic {
  color: color-mix(in srgb, #fff 20%, var(--bs-indigo));
}

.text.rare {
  color: var(--bs-cyan);
}
