.table > :not(caption) > * > th {
  text-align: start !important;
}

.id {
  width: 5%;
}

.name {
  width: 15%;
}

.hp,
.attack,
.defense,
.resist {
  width: 5%;
  text-align: end;
}

.target {
  width: 15%;
}
